// imports
@import '_reset';


//defining variables

//colors
$primary-color: #FF680A; //orange dream
$secondary-color: #27aca1; //aqua ish
$third-color: goldenrod; // self explanatory
$fourth-color: #EFCC00; //similar to goldenrod
$bg-color: white; //#505050; dark greyish blackish

//code
    
/* edit these if u need to 

* {
    
}
    
*/

body {
    background-color: $bg-color;
        
}

    

#wrapper {
    width: 80%;
    margin: 0 auto;
    
}

section {

    border: collapse;
}

header{
    
    #navbarTop{
        background-color: goldenrod;
    }
    
    #navbarBottom {
        background-color: $fourth-color;
    }
        
}

#contentWrapper {
    
    #leftside {
        width: 30%;
        float: left;
    }
    
    #rightside {
        width: 70%;
        overflow: hidden;
    }
    
    #topLeft {
        background-color: $primary-color;
        width: auto;
        height: 30%;
    }
    
    #midLeft {
        width: auto;
        height: 70%;
        
        img {
            max-width: inherit;
            height: auto
        }
    }
    
    #mainMid {
        width: 100%;
        height: 80%;
        float: right;
        
        #slideshow {
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
            float: inherit;
        }

        #slideshow img {
            min-width: 56%;
            max-width: 56% !important;
            height: auto;
            min-height: 80% !important;
            max-height: 80% !important;
            position: absolute;
            z-index:8;
            object-fit: fill;
        }
        
        #slideshow img.active {
            z-index: 10;
        }
        
        #slideshow img.last-active {
            z-index: 9;
        }
    }
    
    #bottomMid {
        background-color: $secondary-color;
        width: 40%;
        height: 20%;
        float: right;

    }
    
    #bottomRight {
        width: 60%;
        height: 20%;
        float: right;
    }
}

footer {
    clear: both;
}