html {
    background-color:#f4f4f4;
}

body {
    font-family: sans-serif;
}

.wrapper {
    background-color:#f4f4f4;
    height: 100%;
    width: 100%;
    background-color: yellow;
    display: inline-block;
    margin: 0 auto;
}

.left {
  position: fixed; 
  top: 0; 
  left: 0;
  height:100%;
  width:100px; 
  transition: width ease .5s; 
  margin: 0 auto;
  background-color: white;
}

.right {
width: 80%;
  position: relative;
  margin-left: 100px;
     }

  ul, ol {
  	list-style: none;
  }

  .liTop {
  	display: inline-block;
  	
  }

  #logo {
  	width: 50px;
  }

  .navImg {
  	width: 32px;
  	position: relative;
  }

  .navLi {
  	padding-top: 15px;
  } 

  .box {
  height: 300px;
  width: 300px;
  margin-right: 10px;
  display: inline-block;
  background-color: white;
  float: left;
  text-align: center;
}

#mainImg {
	width: 300px;
}

#footerWrapper {
	width: 80%
}

#Header {
	height: 100px;
	margin: 10px;
	background-color: white;
}

#nav1,#nav2, #nav3 ,#nav4 {

}