html {
    background-color:#f4f4f4;
}

.row > div,.container {
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out
}

body {
    font-family: sans-serif;
}

.wrapper {
    background-color:#f4f4f4;
    margin: 0 auto;
}

.left {
  position:fixed; 
  padding: 10px;
  top: 0; 
  left: 0;
  height:100%; width:50px; 
  transition: width ease .5s; 
  margin: 0 auto;
}

.right {
  position:relative;
  margin-left: 100px;
  transition:margin-left ease .5s;
  }

  ul, ol {
  	list-style: none;
  }

  .liTop {
  	display: inline-block;
  	
  }

  #logo {
  	width: 50px;
  }

  .navImg {
  	width: 32px;
  }